<footer class="footer_iadf">
<a class="subscribe_iadf icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_iadf">Subscribe!</span></a>
<div class="footertext_iadf">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
<div class="footertext_iadf">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>
